a {
    text-decoration: none;
}

a.router-link-exact-active {

}



/* ========================
    SCROLLBAR
=========================*/

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: var(--scrollbar-width);
    margin-inline: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100vw;
}

/* FIREFOX SUPPORT */
@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: grey transparent;
    }
}